{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="grid" style="justify-content: center; margin-top: 40px;">
  <div class="col-6 card form-card">
    <h2>Entrar na conta</h2>

    <form method="POST" class="form-login">
      <div class="mb-2">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" required class="form-control" placeholder="seu@email.com">
      </div>

      <div class="mb-2">
        <label for="password">Senha</label>
        <input id="password" type="password" name="senha" required class="form-control" placeholder="••••••••">
      </div>

      <div class="btn-container">
        <button type="submit" class="btn btn-primary">Entrar</button>
      </div>
    </form>

    <p class="small-muted mt-2" style="text-align: center;">
      Não tem conta? <a href="{{ url_for('register') }}">Cadastre-se</a>.
    </p>
  </div>
</div>
{% endblock %}